@model SozlesmeKayitIslemleri.Models.Sozlesme

@{
    ViewBag.Title = "Sil";
}

<div class="p-3 mb-2 bg-primary text-white">
    <h2 style="text-align:center">Alt Sözleşme Sil</h2>

</div>

<h3>Silmek istediğinize emin misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TCVergiKimlikNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TCVergiKimlikNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnvanAdSoyad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnvanAdSoyad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BaslangicTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaslangicTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BitisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Durumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Durumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SozlesmeTuru)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SozlesmeTuru)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TalepNumarasi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TalepNumarasi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GelenEvrakTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GelenEvrakTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GelenEvrakSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GelenEvrakSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlurTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlurTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OlurSayisi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OlurSayisi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dosya)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dosya)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Listeye Dön", "Index")
        </div>
    }
</div>
